.navbar{
    background-color: hsl(213, 96%, 19%);
}

.navbar ul{
    margin-left: 100px;
}

.navbar ul li a{
    padding: 10px;
    color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
    font-size: 20px;
}
.navbar ul li a:hover,
.navbar ul li a:hover{
    color : #00ffed;
    transition: 0.5s;
}

.container-fluid .e {
    color: #00ffed;
    font-size: 40px;
    font-weight: bolder;
    text-decoration: none;
    margin-left: 20px;

}
.container-fluid .commerce {
   text-decoration: none;
   padding: 0px 0 0 10px;
   color: #fff;

}
.container-fluid a {
    text-decoration: none;
 
 }

 

 .socialmedia-list{
    margin-right: 20px;;
 }

 .fa-twitter, .fa-facebook, .fa-instagram, .fa-whatsapp{
    height: 40px;
    width: 40px;
    color: #fff;
    margin: 0 20px 0 5px;
  transition: 0.5s;
 }

 .fa-twitter:hover, .fa-facebook:hover, .fa-instagram:hover, .fa-whatsapp:hover{
  color: #00ffed;
  transition: 0.5s;
 }
