.container-fluid {
    --bs-gutter-x: 0rem !important;
}
.slider img{ 
    width: 100%;    
     height: 400px !important 
}


.slick-dots {
    top: 1rem;
    left: 35rem;
}

.slick-dots li {
    width: 10px;
    margin: 0 10px;
}
.slick-dots li button:before {
    font-size: 30px;
    opacity: .75;
    color: #00ffed;
}

.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: #da0909;
}

.slick-dots li button:hover, .slick-dots li button:focus {
    color: #da0909 !important;

}

.img-fluid {
    height: 45rem!important;
    width: 100% !important;
}

.slider-div{
    position: relative;
}


.homeslider-row p {
    position: absolute;
    font-size: 100px;
    color: #fff;
    top: 10%;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    font-weight: 900;

    
}
